[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/abcdlsj/minimo.git
[submodule "public"]
	path = public
	url = https://github.com/abcdlsj/abcdlsj.github.io.git
[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = https://github.com/abcdlsj/ghostwriter.git
[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/abcdlsj/ezhil.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/abcdlsj/archie.git
[submodule "themes/etch"]
	path = themes/etch
	url = https://github.com/abcdlsj/etch
[submodule "themes/anubis"]
	path = themes/anubis
	url = git@github.com:abcdlsj/hugo-theme-anubis.git
[submodule "themes/manis"]
	path = themes/manis
	url = git@github.com:abcdlsj/manis-hugo-theme.git
[submodule "themes/hugo-theme-texify"]
	path = themes/hugo-theme-texify
	url = https://github.com/abcdlsj/hugo-theme-texify
